langchain_groq
langchain_core
langchain_ollama
langchain_community
opencv-python
python-dotenv
pandas
moondream
chromadb
sentence-transformers
gTTs
ipykernel
h5py
groq 
clip-interrogator==0.6.0
open_clip_torch
nltk
rouge_score